.App {
  text-align: center;
  /* background-color: cornflowerblue; */
}

.vh{
  height: 100vh;
  color: red
}
.vw{
  width: 100vw;
  overflow-x: hidden;
}

.Buys{
  margin: 40px 0;
}

.input{
  width: 50px;
}

.flex-w{
  display: flex;
  flex-direction: row;
  margin-left: 50px;
  align-items: center;
}

.flex-w2{
  display: flex;
  flex-direction: row;
  margin-left: 50px;
  align-items: center;
}

.flex-w>p{
  margin-left: 10px;
}

.details{
  width: 500px;
  margin-left: 50px;
}

.details>p{
  text-align: left;
}

.j-c{
  justify-content: center;
}

.price{
  width: 140px;
  margin-left: 0;
  text-align: left;
}

div>h2{
  margin: 40px 0;
}

.padding{
  padding: 20px;
  margin-bottom: 20px;
}

.input{
  display: flex;
  flex-direction: column;
}


.similar-cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  text-align: center;
  /* align-items: center; mueve o deja feo los cuadros */
  justify-content: center;

}

.melon{
  padding: 20px;
  border: solid 1px red;
  border-radius: 5px;
  width: 300px;
}

.center{
  display: flex;
  flex-direction: column;
  /* text-align: center; */
  /* justify-content: center; */
  align-items: center;
}





 /* 1000 o menos pixeles */
@media only screen and ( max-width: 1000px ){

  .similar-cards{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }  

}

/* de 768px pa abajo a 686*/
@media only screen and ( max-width: 768px ){
  
  .flex-w{
    flex-direction: column;
    margin-left: 0;
  }

  .details>p{
    width: 500px;
  }

  .details{
    margin-left: none;
  }

  .input>input{
      width: 70px;
  }

  .similar-cards{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}


 /*  686 pa abajo */
@media only screen and ( max-width: 686px ){

  .details>p{
    width: 300px;
  }
  
  .details{
    width: 300px;
    margin-left: 0;
  }

  

  .flex-w>div>img{
    height: 200px;
  }


  .similar-cards{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 50px;
  }
}




