.App {
  text-align: center;
  /* background-color: cornflowerblue; */
}

.vh{
  height: 100vh;
  color: red
}
.vw{
  width: 100vw;
  overflow-x: hidden;
}

.Buys{
  margin: 40px 0;
}

.input{
  width: 50px;
}

.flex-w{
  display: flex;
  flex-direction: row;
  margin-left: 50px;
  align-items: center;
}

.flex-w>p{
  margin-left: 10px;
}

.details{
  width: 500px;
  margin-left: 50px;
}

.details>p{
  text-align: left;
}

.j-c{
  justify-content: center;
}

.price{
  width: 140px;
  margin-left: 0;
  text-align: left;
}

div>h2{
  margin: 40px 0;
}

.padding{
  padding: 20px;
  margin-bottom: 20px;
}




